.about {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("../../../public/images/indy.jpg");
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.indy {
  margin: 2rem 0;
}

p {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
