.footer {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.3);
  bottom: 0;

  width: 100%;
}

a {
  color: black;
  font-size: 2rem;
}

a:hover {
  color: whitesmoke;
}
