* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  cursor: pointer;
}

nav {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
  margin-bottom: 1rem;
}

ul li {
  margin: 0 0.5rem;
  color: whitesmoke;
  font-weight: bold;
}

ul li:hover {
  color: #353535;
}
.logo {
  margin: 0 0.5rem;
  cursor: pointer;
}

.last {
  color: #353535;
}
.last:hover {
  color: whitesmoke;
}
