li {
  cursor: pointer;
}

nav {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  width: 100vw;
}

ul li {
  margin: 0 1rem;
  color: whitesmoke;
  font-weight: bold;
}

ul li:hover {
  color: #353535;
}
.logo {
  margin: 0 1rem;
  cursor: pointer;
}

.last {
  color: #353535;
}
.last:hover {
  color: whitesmoke;
}
